.burgerConstructor {
  max-height: 84vh;
}

.order {
  display: flex;
  align-items: center;
  justify-content: end;
}

.scroll {
  width: 600px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.scroll::-webkit-scrollbar-thumb {
  border: 3px solid #8585ad;
  background-color: #8585ad;
}
