.burgerConstructor {
  max-height: 84vh;
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box {
  max-height: 40vh;
  cursor: grab;

}

.boxBun {
  background-color: #1c1c21;
  border-radius: 10px;
  min-height: 80px;
  width: 600px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}
.boxMain {
  background-color: #1c1c21;
  border-radius: 10px;
  min-height: 300px;
  max-width: 600px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}
.textInBox {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.scroll {
  height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.scroll::-webkit-scrollbar-thumb {
  border: 3px solid #8585ad;
  background-color: #8585ad;
}
