.main {
  display: flex;
}

.rightSide {
  max-height: 84vh;
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 320px;
  
}
.scroll {
  width: 600px;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.scroll::-webkit-scrollbar-thumb {
  border: 3px solid #8585ad;
  background-color: #8585ad;
}
.leftSide {
  /* margin-right: 300px; */
}
.status {
  display: flex;
  gap: 30px;
}

.wrapper {
  width: 280px;
}

.done {
  color: #00cccc;
  display: flex;
  gap: 8;
}
.pending {
  display: flex;
  gap: 8;
}

.shadow {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}
