.link {
  color: #f2f2f3;
}
.wrapper {
  width: 272px;
}
.counter {
  position: relative;
  bottom: 150px;
  right: 0;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
