.main {
  margin-left: auto;
  margin-right: auto;
  width: 20em;
}

.input {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
 
}

.button {
  margin-left: auto;
  margin-right: auto;
  width: 12em;
}

.text {
  margin-left: auto;
  margin-right: auto;
  width: 13em;
}
