.wrapper {
  text-align: center;
}

.nutrients {
  max-width: 520px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.aboutNutrients {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
