.main {
  height: 80%;
}

.number {
  text-align: center;
}

.status {
  color: #00cccc;
}


.details {
  width: 700px;
  max-height: 24vh;
  overflow-y: scroll;
}

.details::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.details::-webkit-scrollbar-thumb {
  border: 3px solid #8585ad;
  background-color: #8585ad;
}
